

/*-------------------------------------
------------- REGIST -----------------
---------------------------------------*/
.regist-font1{
    font-family: 'kanitlight';
    font-size: 40px;
    color:black;
    font-weight: bolder;
}
.regist-font2{
    font-family: 'kanitlight';
    font-size: 20px;
    color:black;
    font-weight: bolder;
}
.regist-font3{
    font-family: 'kanitlight';
    font-size: 14px;
    color:black;
}
.regist-font4{
    font-family: 'kanitlight';
    font-size: 14px;
    color:black;
    font-weight: bold;
}
.regist-font5{
    font-family: 'kanitlight';
    font-size: 14px;
    color:black;
    font-weight: bold;
}
.regist-font5:hover{
    font-family: 'kanitlight';
    font-size: 14px;
    color:#999;
    font-weight: bold;
}
.regist-font6{
    font-family: 'kanitlight';
    font-size: 12px;
    color:#a3a3a3;
}
.regist-font7{
    font-family: 'kanitlight';
    font-size: 14px;
    color:black;
}
.regist-b-r{
    border-right: 1px solid #c3c2c2;
}
.square-size{
    font-size: 5px;
}
.regist-btn{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 0px;
    width: 300px;
    height: 45px;
}
.regist-btn:hover{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 0px;
    border: 2px solid black;
    width: 300px;
    height: 45px;
    transition: all 0.5s;
}

.regist-btn-1{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 0px;
    width: 100%;
    height: 45px;
}
.regist-btn-1:hover{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 0px;
    border: 2px solid black;
    width: 100%;
    height: 45px;
    transition: all 0.5s;
}

.regist-m-t{
    margin-top: 90px;
}
.regist-m-t2{
    margin-top: 22px;
}
.regist-m-t3{
    margin-top: 50px;
}
.regist-m-t4{
    margin-top: 50px;
}
.regist-m-t5{
    margin-top: 50px;
}
.regist-m-t6{
    margin-top: 18px;
}
.regist-m-t7{
  margin-top: 50px;
}
.regist-p-l{
    padding-left: 25px;
}
.regist-m-l{
    margin-left: 95px;
}
.regist-m-l2{
    margin-left: 35px;
}
.regist-m-r{
    margin-right: 25px;
}
.regist-form{
    width: 100%;
    height: 45px;
    font-size: 15px;
    border: 1px solid #d2d2d2;
    padding-left: 10px;
}
.check {
    display: block;
    position: relative;
}
.btn_add_to_cart {
    background-color: white;
    border: 2px solid black;
    border-radius: 0px;
    color: black;
}
/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color:#fff;
    margin-top: 7px;
    border:  1px solid #d2d2d2;
}
/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: #fff;
    border: 1px solid #d2d2d2;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.check .checkmark:after {
    left: 5px;
    top: 0px;
    width: 8px;
    height: 15px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#my-account{
    display: none;
}
/*-------------------------------------
-------------END REGIST -----------------
---------------------------------------*/

/*-------------------------------------
------------- FORGOT -----------------
---------------------------------------*/
.forgot-font1{
    font-family: 'kanitlight';
    font-size: 40px;
    color:black;
    font-weight: bolder;
}
.forgot-font2{
    font-family: 'kanitlight';
    font-size: 14px;
    color:black;
    font-weight: bold;
}
.forgot-font3{
    font-family: 'kanitlight';
    font-size: 14px;
    color:#fa3c34;
}
.forgot-font4{
    font-family: 'kanitlight';
    font-size: 12px;
    color:#fa3c34;
}
.forgot-form{
    width: 450px;
    height: 45px;
    font-size: 15px;
    border: 1px solid #d2d2d2;
    padding-left: 10px;
}
.forgot-m-l{
    margin-left: 320px;
}
.forgot-m-l2{
    margin-left:270px;
}
.forgot-m-t{
    margin-top: 50px;
}
.forgot-m-t2{
    margin-top: 40px;
}
.forgot-btn{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 0px;
    width: 300px;
    height: 45px;
}
.forgot-btn:hover{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 0px;
    border: 2px solid black;
    width: 300px;
    height: 45px;
    transition: all 0.5s;
}
/*-------------------------------------
------------- END FORGOT -----------------
---------------------------------------*/

/*-------------------------------------
------------- FILLTER -----------------
---------------------------------------*/
.fillter-font1{
    font-size: 40px;
}
.fillter-font2{
    font-size: 15px;
}
.fillter-font3{
    font-size: 14px;
    font-family: 'kanitlight';
}
.fillter-font4{
    font-size: 14px;
    font-family: 'kanitlight';
    color: black !important;
}
.fillter-font5{
    font-size: 15px;
    font-family: 'kanitlight';
    color: black !important;
}
.fillter-font-step{
    font-size: 14px;
    font-family: 'kanitlight';
    color: black;
}
.box{
    padding: 10px;
}
.filter {
    padding: 10px;
    background: #fff;
}
.animated.fadeIn{
    animation-duration: 2s;
}
.c-fill{
    height:240px;
    border: none;
}
.text-a{
    color: #333;
}
.text-a:hover{
    color: #999;
    text-decoration: none;
    transition: all 0.5s;
}
.filter-scroll{
    overflow: auto;
    width:100%;
    height: 135px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #797D7F;
}
.btn-hide{
    background-color: #fff;
    font-family: 'kanitlight';
    border: 1px solid black;
}
.btn-hide:hover{
    background-color:black;
    font-family: 'kanitlight';
    border: 1px solid black;
    color:white;
    transition:  all 0.5s;
}
.btn-column{
    background-color: transparent;
    font-size: 20px;
    width: 30px;
    transition: all 0.5s;
}
.btn-column:hover{
    background-color: #fff;
    font-size: 20px;
    color: #999;
    transition: all 0.5s;
    background-color: transparent;
}
.btn-row{
    background-color: #fff;
    font-size: 20px;
    width: 30px;
    padding-left: 0px;
    transition: all 0.5s;
    background-color: transparent;
}
.btn-row:hover{
    background-color: #fff;
    font-size: 20px;
    color: #999;
    transition: all 0.5s;
    background-color: transparent;
}
.fillter-m-b{
    margin-bottom: 30px;
}
.fillter-bg{
    width: 100%;
    background-color:#fff;
}
.fillter-bg2{
    width: 100%;
    background-color:black;
}
.fillter-select{
    background-color: #E5E7E9;
    padding: 5px;
}
.fillter-m{
    margin: 0px;
}
.fillter-hr{
    border: 0.5px solid white;
}
.fillter-block{
  margin: 5px;
}
.fillter-close{
  color: black;
}
.fillter-close:hover{
  color:#999;
}
.filter-width{
  padding-left: 0px;
  padding-right: 0px;
}
.filter-image-full{
   position: absolute;
   display: block;
   width: 100% !important;
   height: auto;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.filter-image-full2{
     position: absolute;
     display: block;
     width: 100% !important;
     height: auto;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.color-down{
  color: white;
  padding-top: 2px;
}
.filter-image-full3{
   position: absolute;
   display: block;
   width: 100% !important;
   height: auto;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.filter-image-full4{
   position: absolute;
   display: block;
   width: 100% !important;
   height: auto;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.filter-overlay-banner{
     position: relative;
     height: 300px;
     width: 100%;
     overflow: hidden;
}
.filter-image-banner{
     position: absolute;
     display: block;
     width: 100%;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
.filter-overlay-banner2{
     position: relative;
     height: 97px;
     width: 100%;
     overflow: hidden;
}
.filter-image-banner2{
     position: absolute;
     display: block;
     width: 100%;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
.filter-product-frame{
      height: 214.162px !important;
}
.filter-product-frame2{
      height: 288px !important;
}
.filter-product-frame3{
      height: 360px !important;
}
.filter-product-frame4{
      height: 310px !important;
}

.filter-product-frame6 {
    height: 350px !important;
}
/*-------------------------------------
------------- END FILLTER ---------------
---------------------------------------*/


/*-------------------------------------
------------- PAYMENT -----------------
---------------------------------------*/
.pay-font1{
    font-size: 20px;
    font-family: 'kanitlight';
}
.pay-font2{
    font-size: 14px;
    font-family: 'kanitlight';
}
.pay-font3{
    font-size: 15px;
    margin-top: 7px;
}
.pay-font4{
    font-size: 20px;
}
.pay-font5{
    font-size: 15px;
    color:#5DADE2;
    font-family: 'kanitlight';
}
.pay-font6{
    font-size: 14px;
    font-family: 'kanitlight';
}
.pay-font7{
    font-size: 18px;
    font-family: 'kanitlight';
}
.pay-font8{
    font-size: 16px;
    font-family: 'kanitmedium';
}
.pay-font9{
    font-size: 14px;
    font-family: 'kanitlight';
    color: #999;
}
.pay-font10{
    font-size: 16px;
    font-family: 'kanitlight';
}
.pay-font11{
    font-size: 20px;
    color: #E74C3C;
}
.txt-right{
   text-align: right;
}
.pay-select{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
.pay-select  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
.checkmark2 {
    position: absolute;
    top: 7px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #e3e3e3;
}
/* When the radio button is checked, add a blue background */
.pay-select  input:checked ~ .checkmark2 {
    background-color: #2196F3;
    border: none;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator (dot/circle) when checked */
.pay-select  input:checked ~ .checkmark2:after {
    display: block;
}
/* Style the indicator (dot/circle) */
.pay-select .checkmark2:after {
    left: 7px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pay-m-l{
  margin-left: 30px;
}
.pay-m-l2{
    margin-left: 203px;
}
.pay-m-l3{
    margin-left: 177px;
}
.pay-m-l4{
    margin-left: 182px;
}
.pay-m-l5{
    margin-left: 158px;
}
.pay-size{
    width: 40px;
    height: 25px;
    margin-top: -7px;
    margin-left: 10px;
}
.pay-size2{
    width: 40px;
    height: 25px;
    margin-top: -7px;
    border: 1px solid #e3e3e3;
    margin-left: 10px;
}
.pay-size3{
    width: 40px;
    height: 28px;
    margin-top: -7px;
    margin-left: 5px;
}
.pay-form{
    border: 1px solid #e3e3e3;
    width: 100%;
    height:40px;
    border-radius: 5px;
}
.pay-b-n{
    border-radius: 0px;
}
.bg-gray{
    background-color:#F8F9F9;
}
.pay-m-t{
    margin-top: 30px;
}
.pay-padding{
    padding-left: 20px;
    padding-right: 20px;
}
.pay-m-r-l2{
    margin-left: 0px;
    margin-right: 0px;
}
.overlay-img2 {
   position: relative;
   height: 140px;
   width: 100%;
   overflow: hidden;
   /* border:  1px solid #333; */
}
/*-------------------------------------
------------ END PAYMENT --------------
---------------------------------------*/


/*-------------------------------------
------------ CART --------------
---------------------------------------*/
.cart-font1{
    font-size: 12px;
    color: #A6ACAF;
    font-family: 'kanitlight';
}
.cart-font2{
    font-size: 25px;
}
.cart-font3{
    font-size: 20px;
}
.cart-font4{
    font-size: 15px;
    color: black;
}
.cart-font4:hover{
    font-size: 15px;
    color: #999;
}
.cart-form{
    width: 100%;
    height:40px;
    border: 1px solid black;
    padding-left: 10px;
}
.sale-percent{
    max-width: 90px!important;
}
.cart-bg{
    background-color:#F8F9F9;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.cart-selected {
    border: 1px solid #333;
    border-radius: 0px;
    background: #fff url(../../assets/images/logo/down.png) no-repeat right 15px center;
    background-size: 20px;
    -webkit-appearance: none !important;
    padding: 5px 15px!important;
    width: 70px;
}
.cart-m-l{
  margin-left: 30px;
}
.cart-m-l2{
  margin-left: -200px;
}
.cart-m-l5{
  margin-left: 0px;
}
.overlay-img {
   position: relative;
   height: 140px;
   width: 100%;
   overflow: hidden;
}
.image-full{
   position: absolute;
   display: block;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.promotion-button2{
  font-size: 16px !important;
  line-height: 1px !important;
  color:#999 !important;
  height:20px !important;
}
.promotion-button2:hover{
  font-size: 16px !important;
  line-height: 1px !important;
  color:#666 !important;
  height:20px !important;
  transition: all 0.4s !important;
}
/*-------------------------------------
------------ END CART --------------
---------------------------------------*/

/*-------------------------------------
-------------- WISHLIST --------------
---------------------------------------*/

.custom-ribbon{
  margin-top: 5% !important;
}

.custom-ribbon2{
  margin-top: 20% !important;
}


.wish-font1{
    font-size: 25px;
}
.wish-font2{
    font-weight: bolder;
    color: #cd0928;
}
.wish-d3{
    display:none;
}
.wish-m{
    margin: 0px;
}
.wishlist-screen{
    position: relative;
}
.wishlist-screen2{
    position: absolute;
    background: url(/dilok/assets/images/productfill/street.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    opacity: 0.3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.wish-m-ll{
    margin: 0px;
}
.wish-image-full{
   position: absolute;
   display: block;
   width: 100% !important;
   height: auto;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.wish-position-a{
   position: absolute;
   margin-top: 166px !important;
}
.wish-position-r{
   height: 421px !important;
   width: 100% !important;
}
.wish-position-a2{
   position: absolute;
   margin-top: 262px !important;
}
.wish-position-r2{
   height: 494px !important;
   width: 100% !important;
}
.wish-product-frame{
      height: 166px !important;
}
.wish-product-frame2{
      height: 258px !important;
}
/*-------------------------------------
------------ END WISHLIST --------------
---------------------------------------*/


@media (max-width: 575px) { 
   .filter{
      display: none;
   }
   #filter-sidebar.active {
      margin-left: 0vw;
      min-width: 245px;
      max-width: 245px;
  }
  .btn-hide {
      background-color: #fff;
      font-family: 'kanitlight';
      border: 1px solid black;
      display: none;
  }
  .btn-fillter {
      background-color: #fff;
      font-family: 'kanitlight';
      border: 1px solid black;
      width: 100%;
  }
  .filter-product-frame {
      height: 31vmin!important;
  }
  .filter-product-frame2 {
      height: 60vmin!important;
  }
}
@media (max-width: 568px) and (max-height: 320px) { 
  .filter-product-frame {
      height: 50vmin!important;
  }
  .filter-product-frame {
      height: 170px!important;
  }
  .filter-product-frame2 {
      height: 350px!important;
  }
}
@media (max-width: 320px) and (max-height: 568px) {
  .fillter-m-b {
      margin-bottom: 30px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .filter-product-frame {
      height: 170px!important;
  }
}
@media (min-width: 576px) {
   .filter{
      display: none;
   }
  .btn-hide {
      background-color: #fff;
      font-family: 'kanitlight';
      border: 1px solid black;
      display: none;
  }
  .btn-fillter {
      background-color: #fff;
      font-family: 'kanitlight';
      border: 1px solid black;
      width: 100%;
  }
  #filter-sidebar.active {
      min-width: 245px;
      max-width: 245px;
  }
  .filter-product-frame {
      height: 175px!important;
  }
  .filter-product-frame2 {
      height: 355px!important;
  }
}
@media (min-width: 768px) {
  .filter-product-frame2 {
      height: 230px!important;
  }
  .filter-product-frame {
      height: 135px!important;
  }
  #sidebar.active {
      min-width: 40vmin;
      max-width: 40vmin;
  }
}
@media (min-width: 992px) {
  .filter {
      display: inherit;
  }
  .filter-product-frame {
      height: 150px!important;
  }
}
@media (min-width: 1200px) {
  .heart-btn {
      font-size: 10px;
      background-color: transparent;
  }
  .filter-product-frame {
      height: 210px!important;
  }
  .filter-product-frame2 {
      height: 285px!important;
  }

}
@media (min-width: 1600px) {
  .brand-collum-xxl1 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
  }
  .brand-collum-xxl2 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }
  .filter-product-frame2 {
      height: 250px!important;
  }
  .filter-product-frame {
      height: 330px!important;
  }
}